@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 252, 252, 253;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}
